html, body {
    margin: 0;
    min-width: 800px;
    min-height: 100%;  
    background-color:khaki; 
    
}

.wrapper {
    padding-top: 15vh;
    width: 300px;
    margin: auto;
}

pre {
    margin: 0;
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 60px;
    font-family: 'Fascinate', cursive;  
}

.counter {
    font-size: 30px;
    font-family: 'DotGothic16', sans-serif;
    margin-left: 50px;
}

.linetext {
    position: absolute;
    font-size: 25px;
    font-family: 'DotGothic16', sans-serif;
    color:orangered;
    font-weight:bolder;
    text-decoration: double;

}